.login-container {
  padding-top: 80px;
  padding-bottom: 20px;

  a {
    color: #4f9da6;
    cursor: pointer;
    text-decoration: none;
  }

  i {
    color: #4f9da6;
    font-size: 64px;
  }

  .btn-login {
    background-color: #facf5a;
    color: #fff;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }

  .login-form {
    margin: 0 auto;
    max-width: 400px;
  }

  .login-title {
    padding: 10px 20px;
    text-align: center;
  }
}
