.profile-container {
  .profile-photo {
    text-align: center;
    padding-top: 40px;

    i {
      color: #4f9da6;
      font-size: 64px;
    }

    &-info {
      padding-top: 20px;
    }
  }

  .profile-form {
    margin: 0 auto;
    max-width: 600px;
  }
}
