/* You can add global styles to this file, and also import other style files */
.btn-orange {
  background-color: #facf5a;
  color: #fff;
  width: 100%;

  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  width: 100%;

  i {
    color: #fff !important;
    font-size: 22px !important;
    padding-right: 6px;
  }

  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

.separator-buttons {
  padding: 10px;
}
